/*
!/.gitignore
!/.gitmodules
!/README.md
!/docs/
!/docs/**
/docs/*.aux
/docs/*.toc
/docs/*.out
/docs/*.log
/docs/*.fls
/docs/*.fdb_latexmk
/docs/*.synctex.gz

!/benchmarks/
!/benchmarks/**

/benchmarks/Embench/build/
/benchmarks/Embench/build/**
/benchmarks/Embench/*.elf
/benchmarks/Embench/*.map
/benchmarks/Embench/*.dump
/benchmarks/Embench/crt0.o
/benchmarks/Embench/imem.mem
/benchmarks/Embench/imem_*.mem

!/sources_1/
!/sources_1/**

!/sim_1/
!/sim_1/**

!/constrs_1/
!/constrs_1/**

!/utils_1/
!/utils_1/**
