/*
!/.gitignore
!/.gitmodules
!/README.md

/CICC1003857*/
/CICC1003857*
/docs/

!/benchmarks/
!/benchmarks/**

/benchmarks/Embench/build/
/benchmarks/Embench/build/**
/benchmarks/Embench/*.elf
/benchmarks/Embench/*.map
/benchmarks/Embench/*.dump
/benchmarks/Embench/crt0.o
/benchmarks/Embench/imem.mem
/benchmarks/Embench/imem_*.mem

/benchmarks/RISCV-TEST/rv32i_official/*.elf
/benchmarks/RISCV-TEST/rv32i_official/*.bin
/benchmarks/RISCV-TEST/rv32i_official/imem.mem

!/sources_1/
!/sources_1/**

!/sim_1/
!/sim_1/**

!/constrs_1/
!/constrs_1/**

!/utils_1/
!/utils_1/**
